{
    "awsAccountId": "...",
    "kinesisStream": "tweetStream",
    "lambdaExecutionPolicyName": "tweetStreamExecutionPolicy",
    "lambdaFunctionName": "processTweets",
    "lambdaInvocationPolicyName": "tweetStreamInvocationPolicy",
    "mlModelId": "...",
    "region": "us-east-1",
    "snsTopic": "RespondToTweet"
}
